include pyproject.toml

# Include the README
include *.md

# Include the license file
include LICENSE.txt

# Include setup.py
include setup.py

# Include the data files -- uncomment next line
# recursive-include data *
# OR
# Exclude the data files (saves space)
recursive-exclude data *
